.btn-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#showNutri, #showCals, #showBMI{
    background-color: rgb(27,32,36);
    padding: 10px 20px;
    width: 10vw;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin: 20px;
    z-index: 10;   
}
#showNutri:hover, #showCals:hover, #showBMI:hover{
    background-color: #ccc;
    color: black;
}


.item-container{
    display: flex;
    justify-content: space-around;
}


.bmi-container{
    width: 30vw;
    height: 80vh;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 5vh;
}
.bmi-container p{
    text-align: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-container input{
    width: 20vw;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
}
#bmi-btn{
    padding: 10px 10px;
    background-color: rgb(51, 66, 78);
    border: 1px solid #ccc;
    border-radius: 20px;
    display: block;
    margin: 10px auto ;
}
#bmi-btn:hover{
    background-color: transparent;
}
.result-container{
    margin: 50px 20px;
}





.nutrition-container p{
    text-align: center;
}
.nutrition-container{
    width: 30vw;
    height: 80vh;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 5vh;
}
.input-nutrition-container{
    position: absolute;
}
.input-nutrition-container input:nth-child(1){
    width: 20vw;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 20px 0px 0px 20px;
    background-color: transparent;
    border: 1px solid #ccc;
}
#nutrition-btn{
    width: 5vw;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 0px 20px 20px 0px;
    background-color: transparent;
    border: 1px solid #ccc;
}
#nutrition-btn:hover{
    background-color: #ccc;
    color: black;
}
#resultNutrition{
    width: 27vw;
    height: 60vh;
    margin-top: 10vh;
    overflow-y: scroll;
    padding: 20px 0px;
}
::-webkit-scrollbar{
    display: none;
}
.nutrition-card {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 15px 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: transform 0.2s, box-shadow 0.2s;
}







.calories-container{
    width: 30vw;
    height: 80vh;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 5vh;
}
.calories-container p{
    text-align: center;
}
.input-calories-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.input-calories-container input, .input-calories-container select{
    width: 7vw;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    margin-left: 10px;
    
}
.input-calories-container option{
    color: black;
}
#calories-btn{
    width: 10vw;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    margin-left: 9vw;

}
#calories-btn:hover{
    background-color: #ccc;
    color: black;
}
#resultCalories{
    width: 27vw;
    height: 53vh;
    overflow-y: scroll;
    padding: 20px 0px;
}
.calories-card{
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 15px 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: transform 0.2s, box-shadow 0.2s;
}

